@section scripts {}
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This software project was developed under supervision of the KMD chair at the Otto-von-Guerike University. We do not collect and store personal data. GEOminer does not create internet connections other than to send requets to GEO data servers. We only use GEO data server responses, and store their contents on your computer. No responsibility is taken for any damage caused by the use of the program.</p>
